# build output
dist/
.astro/
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.production
.env.local
!.env.example

# macOS
.DS_Store

# editor
.vscode/
.idea/
